<div>
  <div>
    <%= form_for(@class_room) do |f| %>
      <h3><span>Q</span><%= @department.class %></h3>
      <div class="field">
        <%= f.text_area :name, placeholder: "授業名/教授名の書き方でクラスルームを作ってください", cols:"30", rows:"10", autofocus:"true", class:"form-control" %>
      </div>
      <div class="field">
        <%= f.text_area :detail, placeholder: "授業の概要を教えてください", cols:"30", rows:"10", autofocus:"true", class:"form-control" %>
      </div>
      <%= f.submit "作成する", class:"btn btn-primary withripple"%>
    <% end %>
  </div>
</div>