<div>
  <h2><%= @class_room.name %>のクラスチャットルーム</h2>
</div>
<div>
 <p>〜  <%= @class_room.detail %>  〜</p>
</div>
<div>
  <%= link_to 'クラス情報を編集する', edit_class_room_path(@class_room) %>
</div>

<div>
  <%= form_for(@chat) do |f| %>
    <%= f.text_field :text, placeholder: "何か言ってみましょう" %>
      <%= f.submit "発言する" %>
      <%= hidden_field_tag(:class_room_id, @class_room.id) %>
    <% end %>
    <!-- hidden属性を使って、class_room_idを取得 -->
</div>
<div>
  <h4><%= link_to 'ホームに戻る', root_path %>
<div>
  <%= render partial: "class_room", :collections=> @chats %>
</div>